<!--html attribute-->
<p appHighLight>home works!</p>
<p appHighLight>home works!</p>

<hr />
<div appMyRouterLink="/login">Go to Login page</div>
<div appMyRouterLink="/register">Go to Register page</div>

<hr />

<!--
<p [ngStyle]="{color: color}">Lorem asdasdasdafga</p>
<p>Lorem asdasdasdafga</p>
-->

<div *ngIf="true">
    <div>Simple div 1</div>
    <div>Simple div 2</div>
</div>

<ng-template [ngIf]="true">
    <div>
        <div>Simple div 3</div>
        <div>Simple div 4</div>
    </div>
</ng-template>

<ul>
    @for (item of [1,2,3,4]; track $index) {
        <li>{{item}} for item</li>
    }
</ul>

<ul>
    <li *ngFor="let item of [1,2,3,4]">{{item}} - item</li>
</ul>