<!-- aside component  -->
<aside>
    @if (isLoading) {
    <div>
        <app-loader />
    </div>
    }@else {
    <div class="aside">
        <h2 class="title">
            Recent posts
        </h2>
        <div>
            @for (p of posts; track $index) {
            <div class="aside-theme">
                <a href="#">
                    <h3>{{p.themeId?.themeName}} </h3>
                    <p>{{p.userId.username}}</p>
                    <p><span>{{p.created_at}}</span></p>
                </a>
            </div>
            }

        </div>
    </div>
    }
</aside>